.parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.speech-bubble {
    position: fixed;
    z-index: 2;
    right: 20px;
    bottom: 90px;
    background: #FFF;
    border-radius: .4em;
    padding: 10px;
    opacity: 0.8;
    visibility: hidden;
}

.speech-bubble:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    border: 0.75em solid transparent;
    border-top-color: #FFF;
    border-bottom: 0;
    border-right: 0;
    margin-left: -0.375em;
    margin-bottom: -0.75em;
}

.speech-bubble>h2 {
    color: #000;
    font-size: large;
}

/*  navbar start */
.navbar {
    position: fixed;
    bottom: 0.1px;
    width: 100%;
    margin-left: 0;
    display: flex;
    z-index: 1;
}

.navitem {
    width: 33.334%;
    text-align: center;
    background-color: #4c5b6b;
    border-top-style: solid;
    border-top-color: #FFFFFF;
    border-top-width: 2px;
    height: 70px;
    opacity: 0.9;
}

.navitem>p {
    margin-top: 20px;
    color: #FFF;
    font-size: x-large;
}

.navitem:hover {
    cursor: pointer;
}
/* navbar end */

/* intro */
.intro {
    /* background-color: #F5F5DC; */
    background-image: url(../img/gradient.jpg);
    color: #FFF;
    height: 100vh;
}

.intro>div>h1 {
    margin: 0;
    padding: 0;
    display: inline;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    font-family: 'Ubuntu Mono', monospace;
    font-size: 10vw;
    font-weight: 400;
}

.intro>div>#blink {
    font-size: 10vw;
    margin: 0;
    padding: 0;
    animation: 1.2s blinky step-start 0s infinite;
    display: inline;
}

@keyframes blinky {
    50% {
        opacity: 0.0;
    }

    100% {
        opacity: 1;
    }
}

.intro>h2 {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.intro>a {
    font-size: x-large;
    color: #FFF;
    background-color: #4c5b6b;
    border: solid transparent 2px;
    border-radius: 10px;
    margin-top: 20px;
    padding: 16px;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.2s;
    font-family: 'Thasadith', sans-serif;
}

.intro>a:hover {
    border: solid #7ac7c4 3px;
    transform: scale(1.1);
    /* scale of 1.1 affects margin-top as well, adds 2px */
    margin-top: 18px;
}

/* intro end */

/* projects */

.projects {
    background-image: url("../img/desk.jpg");
    height: 100vh;
}

.projects>div>h1 {
    color: #FFF;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 5px;
}

.div-projects-holder {
    margin-top: 2vh;
    display: flex;
    flex-direction: row;
}

.div-project-container {
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.div-projects-holder>a>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.div-project-container>div>h2 {
    margin: 12px;
    color: #FFF;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.div-project {
    background-color: #FFF;
    color: #000;
    height: 15vh;
    width: 15vh;

    font-size: 9vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;

    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    transition: all 0.1s ease-in-out;
}

.div-project>img {
    height: 10vh;
    width: 10vh;
}

.div-project::after {
    position: absolute;
    z-index: -1;
    opacity: 0;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    transition: opacity 0.1s ease-in-out;
}

.div-project-container:hover .div-project {
    transform: scale(1.1, 1.1);
}

.div-project-container:hover::after .div-project {
    opacity: 1;
}

/* projects end */

/* contact */
.contact {
    background-image: url("../img/vscode.jpg");
    height: 100vh;
}

#contactBG {
    padding: 20px;
}

#contactBG>h1 {
    color: #FFF;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

#contactme>h2 {
    transition: all .1s ease-in-out;
}

#contactme>h2:hover {
    transform: scale(1.1);
}

/* contact end */

a:hover,
a:visited,
a:link,
a:active {
    color: #FFF;
    text-decoration: none;
}

body {
    font-family: 'Thasadith', sans-serif;
    margin: 0;
}

@media only screen and (max-width: 900px) {

    /*  navbar start */
    .navbar {
        position: fixed;
        bottom: 0.1px;
        width: 100%;
        margin-left: 0;
        display: flex;
        font-family: 'Thasadith', sans-serif;
        z-index: 1;
    }

    .navitem {
        width: 33.334%;
        text-align: center;
        border-top-style: solid;
        border-top-color: #ffffff;
        border-top-width: 2px;
        height: 10%;
    }

    .navitem>p {
        margin-top: 20px;
        color: #FFF;
        font-size: medium;
    }

    /* navbar end */

    /* projects */
    .div-projects-holder {
        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow: none;
    }

    .noImg {
        display: none;
    }

    .button {
        padding: 8px;
        width: 140px;
        background-color: #927a66;
        border-radius: 10px;
        margin-top: 8px;
        margin-bottom: 8px;
        opacity: 0.85;
    }

    /* projects end */

    /* contact */

    #contactBG {
        background-color: transparent;
        box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
    }

    /* contact end */
}